---
import BaseHead from './components/BaseHead.astro';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import ScrollToTopButton from '../components/ScrollToTopButton.astro';
import SplashScreen from '../components/SplashScreen.astro';
import { loadEnv } from 'vite';

const { GTAG_MEASUREMENT_ID } = loadEnv(process.env.NODE_ENV || 'production', process.cwd(), '');
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang='en' class='bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-100'>
	<head>
		<BaseHead title={title} description={description} image={image} />
		
	</head>
	<body class='bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-100 pt-4 sm:pt-0 invisible'>
		<script is:inline>
			// Immediately show content after theme is set
			document.body.classList.remove('invisible');
			document.body.classList.add('visible');
		</script>
		<SplashScreen />
		<Header />
		<div class='py-8 min-h-[calc(100vh-160px)] relative z-10'>
			<slot />
		</div>
		<Footer />
		<ScrollToTopButton />
		<!-- Google tag (gtag.js) -->
		{
			GTAG_MEASUREMENT_ID && (
				<>
					<script is:inline type='text/partytown' async src={`https://www.googletagmanager.com/gtag/js?id=${GTAG_MEASUREMENT_ID}`} />
					<script is:inline type='text/partytown'>
						{`
						window.dataLayer = window.dataLayer || [];
						function gtag(){dataLayer.push(arguments);}
						gtag('js', new Date());
						gtag('config', '${GTAG_MEASUREMENT_ID}');
					`}
					</script>
				</>
			)
		}
		<script is:inline>
			window.setTheme = function (theme) {
				document.cookie = `theme=${theme};path=/;max-age=31536000`;
				// Also save to localStorage for faster access
				if (localStorage) {
					localStorage.setItem('theme', theme);
				}
				if (theme === 'dark') {
					document.documentElement.classList.add('dark');
				} else {
					document.documentElement.classList.remove('dark');
				}
			};
		</script>
	</body>
</html>